@font-face {
    font-family:'ProximaNovaBold';
    src:url('../fonts/ProximaNovaBold.eot');
    src:url('../fonts/ProximaNovaBold.woff') format('woff'), url('../fonts/ProximaNovaBold.ttf') format('truetype');
}

@font-face {
    font-family:'ProximaNovaRegular';
    src:url('../fonts/ProximaNovaRegular.eot');
    src:url('../fonts/ProximaNovaRegular.woff') format('woff'), url('../fonts/ProximaNovaRegular.ttf') format('truetype');
}